[Desktop Entry]
X-KDE-Export=text/x-tex
ExportDescription=LATEX
Icon=
X-KDE-Import=application/x-kformula
X-KDE-Weight=1
ImportDescription=KFormula
Name=KFormula LaTeX Export Filter
Name[cs]=Exportní filtr formátu LaTeX pro KFormula
Name[de]=KFormula-LaTeX-Exportfilter
Name[et]=KFormula LaTeXi ekspordifilter
Name[nds]=LaTeX-Exportfilter för KFormula
Name[nl]=LaTeX-exportfilter voor KFormula
Name[pt]=Filtro de Exportação de LaTeX para o KFormula
Name[pt_BR]=Filtro de exportação LaTeX para o KFormula
Name[sv]=Kformula Latex-exportfilter
Name[uk]=Фільтр експорту LaTeX для KFormula
Name[x-test]=xxKFormula LaTeX Export Filterxx
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Library=kfolatexexport
