[Desktop Entry]
Name=KFormula
Name[cs]=KFormula
Name[de]=KFormula
Name[es]=KFormula
Name[et]=KFormula
Name[fr]=KFormula
Name[it]=KFormula
Name[km]=KFormula
Name[nds]=KFormula
Name[nl]=KFormula
Name[pt]=KFormula
Name[pt_BR]=KFormula
Name[sv]=Kformula
Name[uk]=KFormula
Name[x-test]=xxKFormulaxx
Exec=kformula %u
GenericName=Formula Editor
GenericName[cs]=Editor vzorců
GenericName[de]=Formel-Editor
GenericName[es]=Editor de fórmula
GenericName[et]=Valemiredaktor
GenericName[fr]=Éditeur de formule
GenericName[it]=Editor di formule
GenericName[km]=កម្មវិធី​កែសម្រួល​រូបមន្ត
GenericName[nds]=Formeleditor
GenericName[nl]=Formulebewerker
GenericName[pt]=Editor de Fórmulas
GenericName[pt_BR]=Editor de fórmulas
GenericName[sv]=Formeleditor
GenericName[ug]=فورمۇلا تەھرىرلىگۈچ
GenericName[uk]=Редактор формул
GenericName[x-test]=xxFormula Editorxx
MimeType=application/vnd.oasis.opendocument.formula;application/x-kformula;
Type=Application
Icon=kformula
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.formula
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.koffice.kformula
X-DocPath=kformula/index.html
Categories=Qt;KDE;Office;X-KDE-More;
