[Desktop Entry]
Name=KOffice Formula Component
Name[de]=KOffice-Komponente für Formeln
Name[es]=Componentes formula de KOffice
Name[et]=KOffice'i valemikomponent
Name[fr]=Composant de formule de KOffice
Name[it]=Componente per formule di KOffice
Name[km]=សមាសធាតុ​រូបមន្ត​របស់ KOffice
Name[nds]=Formelkomponent för KOffice
Name[nl]=KOffice Formula-component
Name[pt]=Componente de Fórmulas do KOffice
Name[pt_BR]=Componente de fórmulas do KOffice
Name[sv]=Koffice formelkomponent
Name[uk]=Компонент формул KOffice
Name[x-test]=xxKOffice Formula Componentxx
X-KDE-Library=kformulapart
MimeType=application/vnd.oasis.opendocument.formula;application/vnd.oasis.opendocument.formula-template;application/x-kformula;text/mathml;
Type=Service
X-KDE-ServiceTypes=KOfficePart,KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.formula
X-KDE-NativeOasisMimeType=application/vnd.oasis.opendocument.formula
X-KDE-ExtraNativeMimeTypes=application/x-kformula,application/vnd.oasis.opendocument.formula-template,text/mathml
GenericName=Formula Editor
GenericName[cs]=Editor vzorců
GenericName[de]=Formel-Editor
GenericName[es]=Editor de fórmula
GenericName[et]=Valemiredaktor
GenericName[fr]=Éditeur de formule
GenericName[it]=Editor di formule
GenericName[km]=កម្មវិធី​កែសម្រួល​រូបមន្ត
GenericName[nds]=Formeleditor
GenericName[nl]=Formulebewerker
GenericName[pt]=Editor de Fórmulas
GenericName[pt_BR]=Editor de fórmulas
GenericName[sv]=Formeleditor
GenericName[ug]=فورمۇلا تەھرىرلىگۈچ
GenericName[uk]=Редактор формул
GenericName[x-test]=xxFormula Editorxx
Icon=kformula
