[Desktop Entry]
X-KDE-Export=image/png
ExportDescription=PNG
Icon=
X-KDE-Import=application/x-kformula
X-KDE-Weight=1
ImportDescription=KFormula
Name=KFormula PNG Export Filter
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Library=kfopngexport
