[Desktop Entry]
Name=Formula Shape
Name[de]=Formel-Objekt
Name[es]=Forma formula
Name[et]=Valemikujund
Name[fr]=Forme de formule
Name[it]=Forma di formula
Name[km]=រាង​រូបមន្ត
Name[nds]=Form "Formel"
Name[nl]=Formula-vorm
Name[pt]=Forma de Fórmula
Name[pt_BR]=Forma de fórmula
Name[sv]=Formelform
Name[uk]=Форма формули
Name[x-test]=xxFormula Shapexx
X-KDE-ServiceTypes=KOffice/Flake
Type=Service
X-KDE-Library=formulashape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
