[Desktop Entry]
X-KDE-Export=image/svg+xml
ExportDescription=SVG
Icon=
X-KDE-Import=application/x-kformula
X-KDE-Weight=1
ImportDescription=KFormula
Name=KFormula SVG Export Filter
Name[cs]=Exportní filtr formátu SVG pro KFormula
Name[pt_BR]=Filtro de exportação SVG para o KFormula
Name[sv]=Kformula SVG-exportfilter
Name[uk]=Фільтр експорту SVG для KFormula
Name[x-test]=xxKFormula SVG Export Filterxx
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Library=kfosvgexport
