[Desktop Entry]
X-KDE-Export=image/svg+xml
ExportDescription=SVG
Icon=
X-KDE-Import=application/x-kformula
X-KDE-Weight=1
ImportDescription=KFormula
Name=KFormula SVG Export Filter
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Library=kfosvgexport
